#about {
    border: none;
    margin: 30px auto;
    color: #fff;
    background: none;
    line-height: 20px;
    padding: 30px 60px;  
  }
  #about header h1,
  #services header h1,
  #techs header h1,
  #contacts header h1 {
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
  }
  
  
  #about header {
    background: #51a8b1;
    padding: 15px;
    width: 140px;
    height: 50px;
    border-radius: 2px;
    border: none;
    border-bottom: #fff 4px solid;
    margin: 0 auto;    
    display:flex;
    align-items: center;
    justify-content: center;
    
  }
  
  #about article {
    margin-top: 0;
    background: none;
    padding: 0;
    border: none;
    border-left: 1px solid #51a8b1;
    border-right: 1px solid #51a8b1;
  }
  
  #about article p {
    margin: 10px 30px;
    text-align: justify;
    line-height: 29px;
    font-size: 19px;
    text-indent: 20px;
    padding: 5px;;
  }
  
  #about .footer {
    border: none;
    color: #51a8b1;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    background: none;
    align-items: center;
    padding: 15px 30px;
    margin: 0;
    justify-items: right;
  }
  
  #about .footer img {
    width: 15px;
    transition: 1.5s;
  }
  
  #about .footer img:hover {
    filter: invert(70%);
  }

  #about footer {
    line-height:0;
    height:0;
    border-style: solid;
    border-color: rgba(81, 168, 177, 1) rgba(81, 168, 177, 0.5) rgba(81, 168, 177, 0.2) rgba(149, 202, 208, 0);
    border-width: 30px 880px 30px 0; 
    
  }

  @media(max-width: 1036px){
    #about {
      padding: 30px 0;
    }
  }

  @media(max-width: 885px){
    #about footer{
      border-width: 20px 490px 20px 0;
    }
  }
  
  @media(max-width: 675px){
    #about article p {
      font-size: 14px;
    }
  }
  
  @media(max-width: 600px){
    #about {
      padding: 0;
    }
  
    #about article p {
      margin: 10px 0;
    }
  }
  
  @media(max-width: 490px){
    #about {
      margin:0;
    }
    
    #about header {
      width: unset;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin: 0 -10px;
    }
  
    #about .content {
      border-top: none
    }

    #about footer {
      display: none;
    }
  }