#techs {
    border: none;
    margin: 0 auto;
    color: #ccc;
    background: none;
    line-height: 20px;
    padding: 30px 60px;  
    flex-grow: 1
  }

  #techs header {
    background: none;
    padding: 15px;
    width: 100%;
    line-height: 100%;
    vertical-align: middle;
    text-align: center;
  }
  
  #techs article {
    margin-top: 0;
    background: none;
    padding: 0;
    border: none;
  }
  
  #techs .techs-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
  }

  .techs-item {
    border: none;
    border-radius: 3px;
    box-shadow: 0 9px 13px rgba(0, 0, 0, 1);
    background-color: rgba(40, 44, 52, 0.5);
    text-align: center;
    padding: 15px;    
  }
  
  .techs-item img {
    width: 100%;
    max-width: 100px;
    margin: 5px auto;
    border: none;
    transition: 1s;
  }

  .techs-item img:hover {
    transform: rotate(20deg);
  }

  .techs-item h3 {
    font-size: 14px;
  }

  .techs-item .desc {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.5;
    text-indent: 15px;
    text-align: justify;
    
  }

  .techs-item  a {
    padding: 10px;
    font-size: 10px;
    text-align: center;
  }
  
  #techs footer {
    border: none;
    color: #ed2f59;
    font-weight: bold;
    font-size: 12px;
    background: none;
    align-items: center;
    padding: 15px 30px;
    margin: 0;  
    flex-grow: 1
  }
  
  @media(max-width: 800px){
    #techs .techs-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media(max-width: 675px){
    .techs-list img {
      max-height: 50px;
    }
  }
  
  @media(max-width: 600px){
    #techs {
      padding: 10px;
    }
  
    #techs .techs-list {
      margin: 5px;
      padding: 5px;
    }
  
    .techs-list .techs-item {
      margin: 10px;
    }
  }
  
  @media(max-width: 490px){
    #techs {
      margin:0;
      padding: 0;
    }
    
    #techs header {
      width: unset;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin: 0;
      border-bottom: none;
    }
  
    #techs .content {
      border-top: none;
    }
  
    .techs-list img {
      max-height: 20px;
      filter: opacity(0.05);
    }
  }
  