#techs {
    border: none;
    margin: 0 auto;
    color: #fff;
    background: none;
    line-height: 20px;
    padding: 30px 60px;  
    flex-grow: 1
  }
  
  #techs header {
    background-color: #51a8b1;
    padding: 15px;
    width: 180px;
    height: 30px;
    line-height: 100%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;  
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  
  #techs article {
    margin-top: 0;
    background: none;
    padding: 0;
    border: none;
  }
  
  #techs article p {
    margin: 10px 30px;
    text-align: left;
    line-height: 25px;
  }
  
  #techs .techs-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 30px;
  }
  
  .techs-list .techs-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  
  .techs-list img {
    max-height: 100px;
    margin: 0;
  }
  
  .techs-list h2 {
    margin: 10px auto;
    font-size: 20px;
    font-weight: lighter;
  }
  
  #techs footer {
    border: none;
    color: #ed2f59;
    font-weight: bold;
    font-size: 12px;
    background: none;
    align-items: center;
    padding: 15px 30px;
    margin: 0;  
    flex-grow: 1
  }
  
  @media(max-width: 800px){
    #techs .techs-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media(max-width: 675px){
    .techs-list img {
      max-height: 50px;
    }
  }
  
  @media(max-width: 600px){
    #techs {
      padding: 10px;
    }
  
    #techs .techs-list {
      margin: 5px;
      padding: 5px;
    }
  
    .techs-list .techs-item {
      margin: 10px;
    }
  }
  
  @media(max-width: 490px){
    #techs {
      margin:0;
      padding: 0;
    }
    
    #techs header {
      width: unset;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin: 0;
      border-bottom: none;
    }
  
    #techs .content {
      border-top: none;
    }
  
    .techs-list img {
      max-height: 60px;
    }
  }
  