 #services {
    border: none;
    margin: 0 auto;
    color: #fff;
    background: none;
    line-height: 20px;
    padding: 30px 60px;
  }
  
  #services header {
    background: #51a8b1;
    padding: 15px;
    width: 140px;
    height: 50px;
    border-radius: 2px;
    border: none;
    border-bottom: #fff 4px solid;
    margin: 0 auto;    
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  #services article {
    margin-top: 0;
    background: none;
    padding: 0;
    border: none;
  }
  
  #services .dev_icon {
    margin: 10px 30px;
  }
  
  #services .services-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 30px;
  }
  
  .services-list .services-item {
      display: grid;
      grid-template-columns: 1fr;
      padding: 70px 10px 40px 10px;
      border-radius: 10px;
      background-color: rgba(40, 44, 52, 0.5);
      box-shadow: #000 0px 10px 20px 1px;
  }

  .services-list .services-item:hover {
    background: #3F858D;
    background: linear-gradient(180deg, rgba(63, 133, 141, 0.1) 45%, rgba(63, 133, 141, 0.2) 100%);
    background: -webkit-linear-gradient(180deg, rgba(63, 133, 141, 0.1) 45%, rgba(63, 133, 141, 0.2) 100%);
    background: -moz-linear-gradient(180deg, rgba(63, 133, 141, 0.1) 45%, rgba(63, 133, 141, 0.2) 100%);
  }
  
  .services-list img {
    max-height: 100px;
    margin: 0 auto;
    padding: 0;
  }  
  
  .services-item h2 {
    margin: 40px auto 20px auto;
    text-align: center;
    font-size: 18px;
  }
  
  .services-item p {
    font-size: 13px;
    font-weight: lighter;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
  
  #services footer {
    border: none;
    color: #ed2f59;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    background: none;
    align-items: center;
    padding: 15px 30px;
    margin: 0;
    justify-items: right;
  }
  
  @media(max-width: 675px){
    .services-list img {
      max-height: 50px;
    }
  
    .services-item h2 {
      font-size: 15px;
    }
    
    .services-item p {
      font-size: 11px;
    }
  }
  
  @media(max-width: 600px){
    #services {
      padding: 10px;
    }
  
    #services .services-list {
      grid-template-columns: 1fr;
      padding: 5px 0;
    }
    
    .services-list img {
      max-height: 90px;
    }
  
    .services-item h2 {
      font-size: 17px;
    }
    
    .services-item p {
      font-size: 13px;
      margin: 0;
    }
  }
  
  @media(max-width: 490px){
    #services {
      margin:0;
    }
    
    #services header {
      width: unset;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin: 0 -10px;
    }
  
    #services .content {
      border-top: none
    }
  }